<!DOCTYPE html>
<html>
    <head>
        <title>MI College Transfer Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/library/bootstrap.min.css" rel="stylesheet" media="screen">

        <link href="/static/styles.css" rel="stylesheet" media="screen">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="row text-center pt-1"> 
            <div class="col">
                <a href="/" class="btn btn-secondary">Home</a>
            </div>
            {% if user.isAdmin %}
                <div class="col">
                    <a class="btn btn-secondary" href="/admin" role="button">Admin</a>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="col">
                    <a class="btn btn-secondary" href="/logout">Logout</a>
                </div>
            {% else %}
                <div class="col">
                    <a class="btn btn-secondary" href="/login">Login</a>
                </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>